body{
	font-family: 'Times New Roman', Times, serif;
	color: #444444;

}


.jumbotron{
	padding-bottom: 2%;
	color: black;
	font-family: 'Abril Fatface', "Times New Roman", serif;
    margin-bottom: 1%;
    background-color:lightblue;
	padding-top: .5%;
	
}



h2{
	font-family: 'Times New Roman', Times, serif;
	color:#444444;
}


img{
	
    width: 100%;
    border-radius: 4px;
}

#currentWord, #guessesLeft, #lettersGuessed, #wins, #losses{
	font-size: 32px;
}

.left{
	background-color: lightcoral;
	border-radius: 6px;
}

.right{
	padding-right: 0;
}





